[submodule "extern/godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "extern/librdkafka"]
	path = extern/librdkafka
	url = https://github.com/confluentinc/librdkafka.git
